<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ResearchProjectSystem.Properties.Settings.Rearch_PConnectionString"
            connectionString="Data Source=WIN102019JWEHIW;Initial Catalog=Rearch_P;User ID=sa;Password=12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="DbHelperProvider" value="System.Data.SqlClient"/>
      <add key="DbHelperConnectionString" value="Data Source=(local);Initial Catalog=DbHelperTest;Persist Security Info=True;User ID=sa;Password=sa"/>
    </appSettings>
</configuration>

